<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzap</title>
</head>

<body>

    <div id="app">
        <!-- WRAPPER -->
        <div class="up-wrapper flex-wrapper">
            <div class="wrapper">

                <!-- SECTION LEFT -->
                <section class="container-left">
                    <!-- LEFT HEADER -->
                    <header class="left">
                        <!-- USER -->
                        <div class="color-beje container flex">
                            <div class="profile-pic"><img src="img/avatar_io.jpg" alt=""></div>
                            <div class="profile-nav">
                                <button class="fa-solid fa-circle-notch color-beje"></button>
                                <button class="fa-solid fa-message color-beje"></button>
                                <button class="fa-solid fa-ellipsis-vertical color-beje"></button>
                            </div>
                        </div>
                        <!-- /USER -->
                    </header>
                    <!-- /LEFT HEADER -->

                    <!-- LEFT MAIN -->
                    <main>
                        <!-- NOTIFICATION -->
                        <div class="notification container-big">
                            <div class="silence-pic flex"><i class="fa-solid fa-bell-slash"></i></div>
                            <div class="news-container">
                                <h3>Ricevi notifiche dei nuovi messaggi</h3>
                                <a href="">Attiva notifiche desktp</a>
                            </div>
                        </div>
                        <!-- /NOTIFICATION -->

                        <!-- SEARCH -->
                        <div class="search container-small">
                            <div class="search-icon flex"><a href="" class="fa-solid fa-magnifying-glass"></a></div>
                            <label for="search-box">Cerca o inizia una nuova chat</label>
                            <input id="search-box" class="searcher" type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <!-- /SEARCH -->

                        <!-- CONTACT LIST -->
                        <div class="contact-list list-scroll">
                            <ul>
                                <li class="flex container" v-for="(elem, index) in contacts" :key="index" @click="changeChat(index)">
                                    <div class="profile-pic"><img :src="`img/avatar${elem.avatar}.jpg`" alt="profile picture"></div>
                                    <div class="info-contact">
                                        <div class="info-text">
                                            <p class="name">{{elem.name}}</p>
                                            <p class="short-message">Lorem ipsum dolor</p>
                                        </div>
                                        <div class="info-hour">13:20</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /CONTACT LIST -->
                    </main>
                    <!-- /LEFT MAIN -->
                </section>
                <!-- /SECTION LEFT -->


                <!-- SECTION RIGHT -->
                <section class="container-right">
                    <!-- RIGHT HEADER -->
                    <header class="container flex">
                        <div class="profile-pic"><img src="img/avatar_1.jpg" alt=""></div>
                        <div class="info-texting-contact">
                            <p class="texting-contact-name">Michele</p>
                            <p class="last-access">Ultimo accesso oggi alle 13:20</p>
                        </div>
                        <div class="contact-nav">
                            <button class="fa-solid fa-magnifying-glass color-beje"></button>
                            <button class="fa-solid fa-paperclip color-beje"></button>
                            <button class="fa-solid fa-ellipsis-vertical color-beje"></button>
                        </div>
                    </header>
                    <!-- /RIGHT HEADER -->

                    <!-- RIGHT MAIN -->
                    <main class="container-chat list-scroll">
                        <ul> 
                            <li class="message-space" v-for="(elem) in contacts[activeIndex].messages" :class="elem.status ==='sent' ? 'my-message' : 'response'">
                                <div class="container-message">
                                    <div class="flex">
                                        <div class="content-message">
                                            <p>{{elem.message}}</p>
                                        </div>
                                        <div class="message-menu">
                                            <i class="fa-solid fa-angle-down"></i>
                                            <div class="menu">
                                                <div class="info">Info messaggio</div>
                                                <div class="canc">Cancella messaggio</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hour">{{elem.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </main>
                    <!-- /RIGHT MAIN -->

                    <!-- RIGHT FOOTER -->
                    <footer class="container footer-color flex">
                        <div class="write-tool"><button href="" class="fa-regular fa-face-smile"></button></div>
                        <input class="write" type="text" placeholder="Scrivi un messagio">
                        <div class="write-tool vocal"><div class="inner-circle"><button href="" class="fa-solid fa-microphone"></button></div></div>
                    </footer>
                    <!-- /RIGHT FOOTER -->
                </section>
                <!-- /SECTION RIGHT -->

            </div>
        </div>
        <!-- /WRAPPER -->
    </div>

    <script src="js/script.js"></script>
</body>
</html>
